/* 언어 설정 */
@charset 'uft-8';
/* 구글폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Paytone+One&display=swap');



/* 전체 설정 */
* {margin: 0; padding: 0;}

ul {list-style: none;}

a {color: black;
        text-decoration: none;}

/* 기본 CSS */
/* 로고 설정 */
.logo {font-size: 40px;
        font-weight: normal;
        font-family: 'Paytone One', sans-serif;}
.logo>a {color: black;
        text-decoration: none;}

/* 메뉴 설정 */
.box2 {}
.box2>nav {}
.box2>nav>ul {display: flex;}
.box2>nav>ul>li {width: auto;}
.box2>nav>ul>li>a {display: block;
                padding: 15px 40px;
                font-size: 20px;
                font-weight: bold;
                color: #000;}

.box2 {background-color: rgb(224, 172, 184);}






/* 기사 설정 */
.story {margin-top: 30px;}

.story h2 {font-size: 50px;
        margin-bottom: 10px;
        font-weight: bold;}

.story time {margin-bottom: 10px;}

.story p {margin-bottom: 10px;
        margin-top: 10px;}

.story h3 {margin-top: 40px;
        border-left: solid 8px rgb(224, 172, 184);
        padding: 10px;
        font-weight: bold;
        font-size: 25px;}

.story img {width: 100%;
        height: auto;}


/* 사이드 메뉴 */
.submenu {margin-top: 30px;}
.submenu h3 {margin-top: 0;
        margin-bottom: 20px;
        border-bottom: double 1px #999;
        font-size: 20px;
        color: #666;}
.submenu ul {}
.submenu ul>li {margin-left: 5px;}
.submenu ul>li>a {display: block;
        padding: 3px;
        font-size: 15px;}
.submenu ul li a i {
        color:rgb(224, 172, 184);
        margin-right: 10px;
        font-size: 25px;
}





/* 카테고리 설정 */
.category {margin-top: 30px;}
.category h3 {margin-top: 0;
        margin-bottom: 20px;
        border-bottom: double 1px #999;
        font-size: 20px;
        color: #666;}
.category ul {}
.category ul>li {margin-left: 5px;}
.category ul>li>a {display: block;
        padding: 0;
        font-size: 15px;
        position: relative;
        margin-bottom: 20px;}
.category ul li a img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
}
.category .text {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;


}




/* 인기글 설정 */
.popular {margin-top: 40px;}
.popular h3 {margin-top: 0;
        margin-bottom: 20px;
        border-bottom: double 1px #999;
        font-size: 20px;
        color: #666;}
.popular ul {}
.popular ul>li {margin-left: 5px;}
.popular ul>li>a {
        display: block;
        padding: 5px;
        font-size: 15px;
        color: #666;
        border-bottom: 1px dotted #999;}

.popular img {float: left;
        width: 60px;
        height: auto;}

.popular li a::after {content: ""; clear: both; display: block;}

.popular .text {
        float: none;
        width: auto;
        margin-left: 70px;}

.popular span {display: block;
        font-size: 14px;
        color: rgb(63, 63, 187);}




/* sns 설정 */
.sns {margin-top: 40px;}
.sns ul {display: flex;}
.sns ul li {flex: 1;}
.sns ul li a {display: block;
        padding: 10px 10px;
        font-size: 15px;
        text-align: center;
        background-color: #999;
        color: #fff;}

.sns ul li:nth-child(1) a {background-color: #1da1f2;}
.sns ul li:nth-child(2) a {background-color: #1877f2;}
.sns ul li:nth-child(3) a {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#833ab4+0,e1306c+30,f56040+69,fcaf45+100 */
        background: #833ab4; /* Old browsers */
        background: -moz-linear-gradient(top,  #833ab4 0%, #e1306c 30%, #f56040 69%, #fcaf45 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #833ab4 0%,#e1306c 30%,#f56040 69%,#fcaf45 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #833ab4 0%,#e1306c 30%,#f56040 69%,#fcaf45 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833ab4', endColorstr='#fcaf45',GradientType=0 ); /* IE6-9 */
        }


.sns ul li a i {}



/* 관련 기사 설정 */
.relation {margin-top: 40px;
        background-color: rgba(224, 172, 184, 0.5);
        padding: 20px;}
.relation h3 {margin-top: 5px;
        margin-bottom: 20px;
        color: rgb(77, 77, 77);}

.relation ul::after {content: ""; clear: both; display: block;}
.relation ul li {float: left;
        width: 25%;
        height: auto;}
.relation ul li a {display: block;
        padding: 5px;
        font-size: 12px;
        text-align: center;}
.relation ul li a img {width: 100%;}





/* 푸터 설정 */
.copyright {color: #666;
        font-size: 15px;}

.box5 {border-top: dashed 0.5px #666;}









/* 박스 간격설정 */
.box1 {padding-top: 10px;
        padding-bottom: 10px ;}
.box2 {padding-top: 5px;
        padding-bottom: 5px;}
.box3 {padding-top: 10px;
        padding-bottom: 60px;}
.box4 {padding-top: 10px;
        padding-bottom: 10px;}
.box5 {padding-top: 30px;
        padding-bottom: 20px;}













/* ###################################미디어 쿼리 구간###################################### */

/* 모바일 구간 1 */
/* ##########599px 이하일 때############# */
@media (max-width:599px) {

.story h2 {font-size: 30px;
        margin-bottom: 10px;
        font-weight: bold;}
        

.box2>nav>ul>li>a {display: block;
        padding: 15px 5px;
        font-size: 14px;
        font-weight: bold;
        color: #000;}


/* sns 설정 */
.sns span {text-indent: -9999px;
        display: block;
        padding: 5px;}



/* 관련기사 */
.relation ul li 
        {float: left;
        width: 50%;}

.relation ul li:nth-child(odd) {clear: both;}


}






/* 모바일 구간 2 */
/* #######600px 이상 767px 이하일 때 */
@media (min-width:600px) and (max-width:767px) {}


.box2>nav>ul>li>a {display: block;
        padding: 20px 30px;
        font-size: 14px;
        font-weight: bold;
        color: #000;}



/* 박스 4_1과 박스 4_2의 가로정렬 */
.box4_1 {float: left;
        width: 49%;}
.box4_2 {float: right;
        width: 49%;}

.box4::after {content: ""; clear: both; display: block;}





/* 테블릿 구간 */
/* ############768px이상 일때만############# */
@media (min-width:768px) {
        .box3 {width: 60%;
        float: left;}
        .box4 {width: 40%;
                float: left;}
        .boxA::after {content: ""; clear: both; display: block;}
        /* 박스 3과 박스 4의 좌우간격 */
        .box4 {padding-left: 120px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;}
}




/* 웹 구간 */
/* ############1280px이상 일때만############# */
@media (min-width:1280px) {
        .box1, .boxA , .nav , .copyright {width: 1280px;
        margin: 0 auto;}
}