/* 언어 설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


/* 전체 설정 */
* {margin: 0; padding: 0;}
body {background-image: url(img/bg.png) ;}
ul {list-style: none;}
a {text-decoration: none;
    color: black;}




/* 헤더 설정 */
header {
    background-image: url(img/header.svg);
    background-size: cover;
    background-position: center top;
    margin-top: 40px;
    height: 190px;}

header h1 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    padding-top: 30px;
    font-weight: normal;
    color: #949087;}

header p {
    color: #949087;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;}




/* 컨테니어 설정 */
.container {display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 16px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;}
    




/* 디브박스 설정 */
.main_section {display: flex;
    flex-flow: column wrap;
    width: 60%;
    box-sizing: border-box;
}





.post_hone {
    margin: 40px 20px;
    position: relative;
}
.post_hone .post_title {
    background-image: linear-gradient(45deg, #ffffff 30%,#ffffff 30%,#cccccc 30%,#cccccc 31%,#cccccc 50%,#ffffff 50%,#ffffff 79%,#cccccc 79%,#cccccc 100%);
    background-size: 7px 7px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.post_hone .post_title h2 {
    font-size: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 14px;
    background-color: #ffffff;
    font-family:'Noto Sans', sans-serif;}

.post_hone .post_title h2 a {
    color: #949087;
}


.box01 {}

.box01 .post_img { 
    position: relative;
    float: left;
    shape-outside: circle();}

    .box01 .post_img .date {
        position: absolute;
        left: 0;
        top: -10px;
        font-size: 24px;
        width: 80px;
        height: 80px;
        background-color: #93d8d0;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        color: #fff;
        border-radius: 30% 60% 50% 70%/50%;
        padding: 10px;
        box-sizing: border-box;
        }

        .post_img>p>span {display: block;
        border-bottom: dashed 1px #fff;
        padding-bottom: 5px;
        }

    .box01 .post_img img {
        border-radius: 40% 70% 50% 30%/50%;
        width: 220px;
        height: 180px;
        object-fit: cover;
        padding-right: 40px;}


.box01 .post_story {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #949087;}


.post_hone::after {content: ""; clear: both; display: block;}
.box01 .post_more {
    position: absolute;
    bottom: -20px;
    right: 0;}

.box01 .post_more a {
    display: block;
    color: #fff;
    font-size: 25px; 
    background-color: #eda1a1;
    border: dotted #e38787 2px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #eda1a1;
    padding: 10px 20px;}

    .box01 .post_more a:hover {
        background-color: #e38787;
        border: #eda1a1 dotted 2px;
        box-shadow: 0 0 0 5px #e38787;
        padding: 10px 20px;
    }



/* 1234설정 */
.main_section ul {
    display: flex;
    justify-content: center;}

.main_section ul li {
    margin: 0 10px;
}

.main_section ul li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #949087;
    font-weight: normal;  
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;}

.main_section ul li a:hover {
    background-color: #93d8d0;
    color: #ffffff;}
    
    

.main_section ul li:last-child a:hover {
    background-color: transparent;
    color: #949087;
}

.pagenation .current a{
    background-color: #cccccc;
    color: #ffffff;
}

.pagenation li:first-child a:hover {
    background-color: #cccccc;
    color: #ffffff;
    opacity: 0.8;}


/* 1234 구분선 */
.pagenation li::after{
    content: "|";
    margin-left: 20px;
    color: #949087;}

.pagenation li:last-child::after {
    content: "\0020";
    margin-left: 20px;
    color: #949087;}
    
.pagenation li:nth-child(4)::after {
    content: "\0020";
    margin-left: -10px;
    color: #949087;
    }





/* 어사이드 섹션!!!!!!!!!!!!!!!고쳐야함 */
/* 카테고리 설정 */
.side_section {}

.side_section>div {
    margin-bottom: 40px;
    border: 1px solid #cccccc;
    outline: 2px solid #cccccc;
    outline-offset: 4px;
    border-radius: 10px;
    padding: 16px;}

.side_section>div li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #93d8d0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;


}

.side_section .cat h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;}

.cat ul {}
.cat ul li {
    border-bottom: dashed #cccccc 1px;
    display: flex;
    align-items: center;}



.cat ul li a {
    display: block;
    color: #949087;
    font-size: 15px;
    padding: 15px 0px;
    flex: 1;}



/* 뉴스 설정 */
    .side_section .news h3 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 15px;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 5px;}

    .news p {
        font-size: 15px;
        color: #949087;
        line-height: 1.6;
        margin: 20px 0;}

    .news form {display: flex;}

    .news input {
        padding: 16px;}

    .news input[type='email'] {
        width: 75%;
        border-radius: 10px 0 0 10px;
        border: 2px solid #cccccc;
        border-right: none;}

    .news input[type='sumit'] {
        width: 25%;
        border-radius: 0 10px 10px 0;
        background-color: #eda1a1;
        border: none;
        color: #fff;
        font-size: 20px;}

    .news input:focus {outline: none;}





/* 인기글 설정 */


        .side_section .popular h3 {
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 15px;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            letter-spacing: 5px;
        }
        .popular ul {}
        .popular ul li {
            border-bottom: dashed #cccccc 1px;
            display: flex;
            align-items: center;
        }
        .popular ul li a {
            display: block;
            color: #949087;
            font-size: 15px;
            padding: 15px 0px;
            flex: 1;}
        




/* 푸터 설정 */
footer {
    display: flex;
    flex-flow: column wrap;
    background-color: #949087;
    text-align: center;
    padding: 48px;
    margin-top: 40px;}

footer ul {display: flex;
    justify-content: center;}
    
footer ul li {
    margin: 0 40px;}

footer ul li a {
    display: block;
    color: #fff;
    font-size: 25px;}

footer ul li a:hover {
    color: #000;}

footer p {
    color: #333;
    font-size: 20px;
    padding: 50px;}





/*########## 미디어 쿼리 구간########### */
/* 600px 이상 */
@media (min-width:600px) {
    .container {
        display: flex;
        justify-content: space-between;}

    .main_section {width: 68%;}
    .side_section {width: 26%;}

}



@media (min-width:1140px) {
    header, .container, footer {
        width: 1100px;
        margin: 0 auto;}
    
}
