                /* 언어 설정 */
@charset 'uft-8';

/* 전체 초기화 */
* {margin: 0; padding: 0;}

#wrap {display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 0 auto;}


/* 헤더 설정 */
.header {display: flex;
        width: 100%;
        position: relative;
        justify-content: flex-end;}

.header>h1 {
        width: 13%;
        height: 142px;
        position: absolute;
        left: 0;
        top: 0;}

.header>nav {}



/* 슬라이더 설정 */
.slider {background-color: #c8a2a1;
        width: 50%;
        height: 440px;}



/* 갤러리 설정 */
.gallery {background-color: #dacdc1;
        width: 27.08%;}



/* 인기 검색어 설정 */
.profile {background-color: #a3898c;
        width: 22.92%;}


/* 최근글 설정 */
.portfolio {background-color: #c9bbc8;
                width: 30%;
                height: 500px;}


/* 인기글 설정 */
.like {background-color: #b6b4c2;
                width: 30%;}


/* 배너 설정 */
.banner {display: flex;
        flex-flow: column;
        width: 23%;}

.banner>div {flex: 1;}
.banner_1 {background-color: #d2aaad;}
.banner_2 {background-color: #884c70;}


/* sns 설정 */
.sns {background-color: #ac9d9a;
        width: 17%;}


/* 푸터 설정 */
.footer {background-color: #474747;
        width: 100%;
        height: 94px;}


