/* 언어 설정 */
@charset 'utf-8';

/* 웹폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&display=swap');


/* 전체 설정 */
body {font-family: 'Gamja Flower', cursive;
    line-height: 1;
    /* background: linear-gradient(to top, #1f2b395b, #1a2634d8) */
    background-color: rgb(218, 218, 218);
}

ul {list-style: none;}
a {color: #ffffff;
    text-decoration: none;}



/* 기본 CSS */

/* 내부영역 설정 */
#wrap section {box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;}




/* 인포메이션 영역 */
.info_section {
    position: absolute;
    width: auto;
    top: 20px;
    right: 25px;
    z-index: 100;

}

.info_list {display: flex;}

.info_list>li {width: auto;}

.info_list>li>a {
    display: block;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
}





/* 헤더 영역 */
.header {}
.header>h1 {display: flex;
    width: 25%;
    position: absolute;
    font-size: 40px;
    line-height: 0.9;
    height: 150px;
    text-align: center;
    align-items: center;

    left: 50px;
    top: 0;
    border: ;}

.header>h1>a {
    display: block;
    padding: 40px 10px;
    color: #000;}

.nav {
    width: 75%;
    display: flex;
    height: 150px;
    align-items: center;}

.nav>ul {display: flex;}

.nav>ul>li {width: auto;}

.nav>ul>li>a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 0 50px;
    color: #000;}

.nav>ul>li>a>span {}





/* 토글버튼 */
.mine_menu_btn {display: none;}
.menu_btn {display: none;}



/* 슬라이더 영역 설정 */
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;  이거 두개는 기존에 설정되어있는데 다시 언급해야하나요?, height가 오토인거면 기존에 설정된 애로 설정되는건가요 아니면 부모자를 따라가는건가요? 근데 부모자가 warp이라면?
    height: auto;}

.slider>span {
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-indent: -9999%;
    background-repeat: no-repeat;}

span.prev_btn {
    background-image: url(../img/slider_arrow.png);
    margin-left: -15px;
    background-position: top left;}
span.next_btn {background-image: url(../img/slider_arrow.png);
    margin-right: -15px;
    background-position: top right;}




/* 갤러리 영역 설정 */
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;}

.gallery_list {
    display: flex;
    flex-flow: column wrap;
    padding: 10px 0px;}

.gallery_list>li {
    width: 300px;
    height: auto;
    padding: 5px;}

.gallery_list>li>a {display: block;}

.gallery_list figure {text-align: center;}

.gallery_list img {
    width: 100%;
    height: auto;}

.gallery_list figcaption {
    margin-top: 5px;}




/* 프로필 영역 */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.profile .title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #000;}

.profile.title>ul {}

.profile .title>ul>li {}

.profile .title>ul>li>a {
    display: block;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;}




/* 포트폴리오 영역 */
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.portfolio .title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;}
.portfolio_list {}
.portfolio_list li {}
.portfolio_list li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;}





/* like 영역 */
.like {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.like .title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;}
.like_list {}
.like_list li {}
.like_list li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;}




/* 배너 영역 */
.banner {}
.banner .banner_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;}
.banner_1 a {
    display: block;
    width: 55px;}
.banner_1 a i {
    width: 100%;
    height: auto;
    font-size: 70px;}

.banner_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;}
.banner_list {display: flex;}
.banner_list li {}
.banner_list li a {
    display: block;
    width: 0;
    padding: 0 40px;}
.banner_list li a i {font-size: 30px;}




/* sns 영역 */
.sns {display: flex;
    justify-content: center;
    align-items: center;}
.social_list {}
.social_list li {margin: 20px 0;}
.social_list li a {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 3;
    background-color: #000;
    border-radius: 50%;}
.social_list li a svg {
    fill: #ffffff;
    font-size: 40px;
}
.social_list li a i {
    color: #ffffff;
    font-size: 40px;}









/* !!!!!!!!!!!!!!!!!!!!!!영역 설정!!!!!!!!!!!!!!!!! */

/* 헤더 영역 */
.header {order:1;}
/* 슬라이더 영역 */
.slider {order: 2;}

/* 갤러리 영역 */
.gallery {order: 3;}

/* 인기검색어 영역 */
.profile {order: 4;}

/* 최신글 영역 */
.portfolio {order: 5;}

/* 인기글 영역 */
.like {order: 6;}

/* 배너 섹션 */
.banner {order: 7;}
/* 소셜 섹션 */
.sns {order: 8;}
/* 푸터 영역 */
.footer {order: 9;}

















/* #################미디어쿼리 구간################## */


/* 모바일 구간 320px */
@media (max-width:767px) {

    #wrap { display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* flex-flow:row warp; */
        
        width: 80%;
        /* margin: 0 5% 0 5%; */
        margin: 0 auto;  /* 화면중앙에 배치 */
    }
}



/* 테블릿 구간 768px */
@media (min-width:768px) {



/* 웹 구간 1280px */
@media (min-width:1208px)