/* 언어 설정 */
@charset 'uft-8';
/* 구글폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Paytone+One&display=swap');



/* 전체 설정 */
* {margin: 0; padding: 0;}

ul {list-style: none;}

a {color: #000;
        text-decoration: none;}

/* 기본 CSS */
/* 로고 설정 */
.logo {font-size: 30px;
        font-weight: normal;
        font-family: 'Paytone One', sans-serif;}
.logo a {color: #000;
        text-decoration: none;}


        
/* 메뉴설정 */
.gnb>ul {display: flex;}
.gnb>ul>li {width: auto;}
.gnb>ul>li>a {display: block;
padding: 15px;
font-size: 14px;}


.box2 {background-color: #7cbac1;}




/* ################################################################미디어쿼리 구간########################################################################## */


/* 모바일 구간 */



/* 테블릿 구간 */
/* ##########768px 이상일 때######### */
@media (min-width:768px) {
    /* 박스 3과 박스 4의 가로 정렬 */
        .box3 {width: 70%;
                float: left;}

        .box4 {width: 30%;
                float: left;}

        .boxA::after {content: ""; clear: both; display: block;}
}



/* 웹 구간 */
/* ##########1280px 이상일 때######### */
@media (min-width:1280px) {
        .box1, .boxA .gnb {width: 1190px;
        margin: 0 auto;}
}